/nbproject/private/
/build/
/dist/
/nbproject/project.properties

src/GUI/FXML/Records.fxml
/src/GUI/FXML/Records.fxml
src/GUI/FXML/Records2.java
/src/GUI/FXML/Records2.java
src/GUI/FXML/Records2.java




